/*------------------------------------*    
                HEADER
\*------------------------------------*/
header .menu  ul {
	display: flex;
}

header ul > li {
	list-style: none;
	padding: 0 10px;
}

header a {
	color: var(--color-white);
	text-decoration: none;
}

header .collapse {
	justify-content: center;
}

.bg-dark {
	background-color: var(--color-purple) !important;
}

@media (max-width: 992px){
    header .btn-login {
		display: none;
	}
} 

/*------------------------------------*    
                BANNER
\*------------------------------------*/
 #banner {
    --height-img: 900px; 

    height: var(--height-img);
    width: 100%;
}

#banner img {
    height: var(--height-img);
    width: 100%;
    position: absolute;
}

#banner picture{
    width: 100%;
}

#banner .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner .content > h1{
    margin-bottom: 280px;
}

#banner form input:first-child{
    padding: 1%;
    margin: 0 3px 5px 0;
} 

/*------------------------------------*    
                CONTACT US
\*------------------------------------*/

#contactanos {
    height: 899px;
}

#contactanos .form-container{
	display: flex;
    flex-direction: column;
    padding-right: 0;
}

#contactanos .form-content {
    padding: 0 80px 0 120px;
    margin-top: 45px;
}

#contactanos .form-control {
    border-radius: 0;
}

#contactanos textarea {
    height: 158px;
}

#contactanos .blue-right, .blue-left {
    background: var(--color-blue);
    color: var(--color-blue);
    height: 57px;
    width: calc(100% - 48%);
}

#contactanos .blue-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

#contactanos .form-container h3{
	margin: 120px 0 40px 0;
}

#contactanos .form-container .form-group{
	margin: 10px 0 10px 0;
}

#contactanos .map {
	padding: 0;
}

@media (max-width: 992px){
    #contactanos .form-container{
        height: 899px;
    }

    #contactanos .form-content {
        padding: 0 40px 0 40px;
        margin: 0 auto;
    }

    #contactanos .form-container h3{
        margin: 178px 0 40px 0;
    }
} 

@media (max-width: 767px){
	#contactanos {
        height: 1798px;
	}
    #contactanos .form-container{
        height: 899px;
    }

    #contactanos .form-content {
        padding: 0 40px 0 40px;
        margin: 0 auto;
    }

    #contactanos .form-container h3{
        margin: 120px 0 40px 0;
    }
}

@media (max-width: 576px){
     #contactanos .form-container{
        height: 899px;
    }

    #contactanos .form-content {
        padding: 0 40px 0 40px;
        margin: 100px 0 149px 0;
    }

    #contactanos .form-container h3{
		margin: 59px 0 40px 0;
		text-align: center;
    }
}

/*------------------------------------*    
                SUBSCRIBE
\*------------------------------------*/

#suscribete {
    height: 325px;
}

#suscribete img {
    height: 325px;
    width: 100%;
    position: absolute;
}

#suscribete picture{
    width: 100%;
}
 #suscribete .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}

@media (max-width: 625px) {
	#suscribete .content {
		top: 20%;
	}
}
.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suscribete input[type="email"],
#suscribete input[type="submit"] {
  padding: 10px 10px;
  margin-bottom: 5px;
  width: 100%;
}
.content .container h2 {
	margin-bottom: 30px;
  }

  .form {
	display: flex;
	flex-direction: row;
  }

/*------------------------------------*    
                FOOTER
\*------------------------------------*/

#footer{
	text-align: justify;	
	padding: 30px 15px;
	background-color: var(--color-blue);
}

#footer  ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 16px;
}

#footer ul > li {
	list-style: none;
	width: 100%;
}

#footer  .rs > p {
	margin-bottom: 0;
}

#footer .rs{
	text-align: center;
	margin-bottom: 20px;
} 

#footer .fa {
	font-size: 2em;
}

#footer picture {
	text-align: center;
	margin-top: 10px;
}

#footer img {
	width: 70%;
}
  
@media (max-width: 992px){
	#footer{
		text-align: justify;	
	}
	
	#footer  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
	}

	#footer ul > li {
		list-style: none;
		width: 100%;
	}

	#footer  .rs > p {
		margin-bottom: 0;
	}

	#footer .rs{
		text-align: center;
		margin-bottom: 20px;
	} 

	#footer .fa {
		font-size: 2em;
	}

	#footer picture {
		text-align: center;
		margin-top: 10px;
	}

	#footer img {
		width: 70%;
	}
} 

@media (max-width: 767px){
	#footer{
		text-align: center;	
	}
	
	#footer  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
	}

	#footer ul > li {
		list-style: none;
		width: 100%;
	}

	#footer  .rs > p {
		margin-bottom: 0;
	}

	#footer .rs{
		margin-bottom: 20px;
	} 

	#footer .fa {
		font-size: 2em;
	}

}

@media (max-width: 576px){
    #footer{
		text-align: center;	
	}
	
	#footer  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
	}

	#footer ul > li {
		list-style: none;
		width: 100%;
	}

	#footer  .rs > p {
		margin-bottom: 0;
	}

	#footer .rs{
		margin-bottom: 20px;
	} 
}

/*------------------------------------*    
                Body
\*------------------------------------*/

@media (max-width: 991px){
	body {
		margin-top: 0;
	}

	#header::before{
		box-shadow: 0;
	}
	#banner {
		z-index: 0;
	}

	#menu .menu {
		z-index: 1;
	}
}