/*------------------------------------*    
                HEADER
\*------------------------------------*/
header .menu  ul {
	display: flex;
}

header ul > li {
	list-style: none;
	padding: 0 10px;
}

header a {
	color: var(--color-white);
	text-decoration: none;
}

header .collapse {
	justify-content: center;
}

.bg-dark {
	background-color: var(--color-purple) !important;
}

@media (max-width: 992px){
    header .btn-login {
		display: none;
	}
} 

/*------------------------------------*
                BANNER
\*------------------------------------*/
#banner {
    --height: 900px;
    
    height: var(--height);
    width: 100%;
    position: relative;
    display: inline-block;
}

#banner picture{
    width: 100%;
}

#banner img {
    width: 100%;
    height: var(--height);
}


/*------------------------------------*
                VIEW MORE
\*------------------------------------*/

#main-container{
    height: 963px;
    display: flex;
    position: relative;
    flex-direction: column;
}

#main-container h1{
    margin: 130px 0 80px 0;
}

#main-container .btn{
    margin-top: 118px;
}

#main-container button > a {
    color: var(--color-white);
}

#main-container .blue-right, .blue-left {
    background: var(--color-blue);
    color: var(--color-blue);
    height: 57px;
    width: calc(100% - 36%);
}

#main-container .blue-left{
    position: absolute;
    bottom: 0;
    left: 0;
}

#main-container .blue-right{
    align-self: flex-end;
}

@media (max-width: 1200px){
    #main-container h1{
        margin: 100px 0 78px 0;
    }
    #main-container .btn{
    margin: 96px 0 132px 0;
    }
}

@media (max-width: 992px){
    #main-container h1{
        margin: 82px 0 78px 0;
    }
    #main-container .btn{
        margin: 54px 0 92px 0;
    }
}

@media (max-width: 767px){
    #main-container h1{
        margin: 38px 0 50px 0;
    }

    #main-container .btn{
        margin: 35px 0 44px 0;
    }
}

@media (max-width: 576px){
    #main-container h1{
        margin: 15px 0 15px 0;
    }

    #main-container .btn{
        margin-top: 30px;
    }
}

/*------------------------------------*    
                SUBCSRIBE
\*------------------------------------*/

#suscribete {
    height: 325px;
}

#suscribete img {
    height: 325px;
    width: 100%;
    position: absolute;
}

#suscribete picture{
    width: 100%;
}
 #suscribete .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}
.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suscribete input[type="email"]{
    padding: 7px 0;
}

/*------------------------------------*    
                FOOTER
\*------------------------------------*/

#footer{
	text-align: justify;	
	padding: 30px 15px;
	background-color: var(--color-blue);
}

#footer  ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 16px;
}

#footer ul > li {
	list-style: none;
	width: 100%;
}

#footer  .rs > p {
	margin-bottom: 0;
}

#footer .rs{
	text-align: center;
	margin-bottom: 20px;
} 

#footer .fa {
	font-size: 2em;
}

#footer picture {
	text-align: center;
	margin-top: 10px;
}

#footer img {
	width: 70%;
}
  
@media (max-width: 992px){
	#footer{
		text-align: justify;	
	}
	
	#footer  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
	}

	#footer ul > li {
		list-style: none;
		width: 100%;
	}

	#footer  .rs > p {
		margin-bottom: 0;
	}

	#footer .rs{
		text-align: center;
		margin-bottom: 20px;
	} 

	#footer .fa {
		font-size: 2em;
	}

	#footer picture {
		text-align: center;
		margin-top: 10px;
	}

	#footer img {
		width: 70%;
	}
} 

@media (max-width: 767px){
	#footer{
		text-align: center;	
	}
	
	#footer  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
	}

	#footer ul > li {
		list-style: none;
		width: 100%;
	}

	#footer  .rs > p {
		margin-bottom: 0;
	}

	#footer .rs{
		margin-bottom: 20px;
	} 

	#footer .fa {
		font-size: 2em;
	}

}

@media (max-width: 576px){
    #footer{
		text-align: center;	
	}
	
	#footer  ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
	}

	#footer ul > li {
		list-style: none;
		width: 100%;
	}

	#footer  .rs > p {
		margin-bottom: 0;
	}

	#footer .rs{
		margin-bottom: 20px;
	} 
}

/*------------------------------------*    
                Body
\*------------------------------------*/

@media (max-width: 991px){
	body {
		margin-top: 0;
	}

	#header::before{
		box-shadow: 0;
	}
	#banner {
		z-index: 0;
	}

	#menu .menu {
		z-index: 1;
	}
}