@import url('https://fonts.googleapis.com/css?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
:root{
	--color-purple: 	#534582;
	--color-blue: 		#367BC2;
	--color-cian: 		#37C0A6;
	--color-green: 		#8FE1A1;
	--color-orange: 	#FF9100;
	--color-white: 		#F1F1F1;
	--color-black: 		#353535;

	--font-title-banner: 400 4.5rem/1.26 'Belgrano';

	--font-h1: 400 3rem/1.27 'Belgrano';
	--font-h2: 400 2.5rem/1.275 'Belgrano';
	--font-h3: 400 2.25rem/1.27 'Belgrano';
	--font-h4: 400 1.875rem/1.26 'Belgrano';
	--font-h5: 400 1.5rem/1.25 'Belgrano';
	--font-h6: 400 1.375rem/1.27 'Belgrano';

	--font-text: 400 1.125rem/1.5625 'Open Sans';

	--font-list: 400 1.125rem/1.5625 'Lato';

	--font-btn: 700 1.5rem/1.2 'Lato';

	--font-menu: 400 1.5rem/1.2 'Lato';
}
@media (max-width: 991px){
	:root{
		--font-title-banner: 400 3.2rem/1.26 'Belgrano';

		--font-h1: 400 2.25rem/1.27 'Belgrano';
		--font-h2: 400 2rem/1.28 'Belgrano';
		--font-h3: 400 1.75rem/1.28 'Belgrano';
		--font-h4: 400 1.5rem/1.25 'Belgrano';
		--font-h5: 400 1.375rem/1.25 'Belgrano';
		--font-h6: 400 1.25rem/1.25 'Belgrano';
	}
}
@media (max-width: 575px){
	:root{
		--font-title-banner: 400 1.875rem/1.26 'Belgrano';

		--font-h1: 400 1.875rem/1.26 'Belgrano';
		--font-h2: 400 1.75rem/1.28 'Belgrano';
		--font-h3: 400 1.625rem/1.26 'Belgrano';
		--font-h4: 400 1.5rem/1.25 'Belgrano';
	}
}
.title_banner{
	font: var(--font-title-banner);
}
h1,.h1{
	font: var(--font-h1);
}
h2,.h2{
	font: var(--font-h2);
}
h3,.h3{
	font: var(--font-h3);
}
h4,.h4{
	font: var(--font-h4);
}
h5,.h5{
	font: var(--font-h5);
}
h6,.h6{
	font: var(--font-h6);
}
p,.text{
	font:var(--font-text);
}
ul,ol,li,.list{
	font: var(--font-list);
}
a,input,button,textarea,.btn{
	font: var(--font-btn);
}
.menu,.menu a{
	font: var(--font-menu);
}

/*btn*/
a,input,button,textarea,.btn,
a:hover,input:hover,button:hover,textarea:hover,.btn:hover,
a:active,input:active,button:active,textarea:active,.btn:active,
a:focus,input:focus,button:focus,textarea:focus,.btn:focus{
	outline: none;
	text-decoration: none;
	border: 0;
	border-radius: 0;
	transition: .5s;
	box-shadow: none;
	cursor: pointer;
}
.btn,.btn2{
	width: 250px;
	height: 45px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: var(--color-orange);
	color: var(--color-white);
}
.btn:hover,.btn2:hover{
	box-shadow: inset 0 0 0 0px var(--color-green),inset 0 0 0 50px var(--color-cian);
	color: var(--color-black);
}
.btn:active,.btn2:active{
	box-shadow: inset 0 0 0 4px var(--color-green),inset 0 0 0 50px var(--color-cian);
	color: var(--color-black);
}
.btn2{
	--color-orange: var(--color-blue);
	--color-green: var(--color-blue);
	--color-cian: var(--color-purple);
	--color-black: var(--color-white);
}