/*------------------------------------*    
                BANNER
\*------------------------------------*/
#banner {
    --height-img: 900px; 

    position: relative;
    display: inline-block;
}

#banner img {
    width: 100%;
    height: var(--height-img);
}

#banner picture{
    width: 100%;
}

/*------------------------------------*    
                VIEW MORE
\*------------------------------------*/

#main-container{
    height: 963px;
    display: flex;
    flex-direction: column;
}

#main-container h1{
    margin: 189px 0 78px 0;
}

#main-container .btn{
    margin-top: 78px;
    margin-bottom: 132px;
}

#main-container .blue-right, .blue-left {
    background: var(--color-blue);
    height: 57px;
    width: calc(100% - 36%);
}

#main-container .blue-right{
    align-self: flex-end;
}
