/*------------------------------------*    
                ITEMS
\*------------------------------------*/
#items {
    height: 2000px;;
}

#items .item-desc{    
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 0;
    margin: 10px;
    
}

#items h3, button {
    margin: 20px 0 30px 0;
}

@media (min-width: 576px){
    #items{
        height: 5737px;
    }
}

 @media (min-width: 767px){
    #items{
        height: 2860px;
    }
}

@media (min-width: 992px){
    #items {
        height: 2000px;
    }
}  

/*------------------------------------*    
                SUSCRIBETE
\*------------------------------------*/
#suscribete {
    --height-img: 325px; 

    /* height: var(--height-img); */
    position: relative;
    display: inline-block;
}

#suscribete picture{
    width: 100%;
}

#suscribete img {
    width: 100%;
    height: var(--height-img);
}

#suscribete .content {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%;
}

#suscribete form input:first-child{
    padding: 1%;
    margin: 0 3px 5px 0;
}

/*------------------------------------*    
                FOOTER
\*------------------------------------*/
#footer {
    background-color: var(--color-blue);
    color: var(--color-white);
}

#footer .row {
    padding: 50px 0 50px 0;
}

#footer a{
    color: var(--color-white);
    margin: 5px;
}

#footer .social-networks {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#footer .social-networks li {
    display: inline;
    margin-right: 20px;
}

#footer .social-networks img {
    width: 38px;
    height: 38px;
}