/*------------------------------------*    
                HEADER
\*------------------------------------*/
header .menu  ul {
	display: flex;
}

header ul > li {
	list-style: none;
	padding: 0 10px;
}

header a {
	color: var(--color-white);
	text-decoration: none;
}

header .collapse {
	justify-content: center;
}

.bg-dark {
	background-color: var(--color-purple) !important;
}

@media (max-width: 992px){
    header .btn-login {
		display: none;
	}
} 

/*------------------------------------*    
                BANNER
\*------------------------------------*/
 #banner {
    --height-img: 900px; 

    height: var(--height-img);
    width: 100%;
}

#banner img {
    height: var(--height-img);
    width: 100%;
    position: absolute;
}

#banner picture{
    width: 100%;
}

#banner .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner .content > h1{
    margin-bottom: 280px;
}

#banner form input:first-child{
    padding: 1%;
    margin: 0 3px 5px 0;
} 

/*------------------------------------*    
                SEARCH
\*------------------------------------*/
#search {
    background-color: var(--color-blue);
    padding: 20px 0 20px 0;
}

#search .row {
    padding: 10px 0 10px 0;
}

#search .search-button {
    margin: 0;
}

#search .category {
    width: 288px;
}

#search .btn:hover{
	box-shadow: var(--shodow-btn), inset 0 0 0 0px var(--color-green),inset 0 0 0 50px var(--color-blue);
	color: var(--color-white);
}

#search .right-content .form-control{
    /* margin-top: 20px; */
    height: 45px;
}

@media (min-width: 992px){
    .right-content{
        order: 2;
    }
 }

/*------------------------------------*   
                ITEMS
\*------------------------------------*/
#items {
    height: 2000px;
    padding-top: 70px;
}

#items .item-desc{    
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 0;
    margin: 10px;
}
#items .item-desc a{
    color: var(--color-white);
}    

#items h3, button {
    margin: 20px 0 30px 0;
}

#items .more-sites{
    padding-top: 70px;
}

@media (max-width: 992px){
    #items {
        height: 2930px;
    }
    
    #search .right-content .form-control{
        margin-bottom: 20px;
   }
} 

@media (max-width: 767px){
    #items{
        height: 5900px;
    }

    #search .right-content .form-control{
        margin-bottom: 20px;
   }
}

 @media (max-width: 576px){
    #items{
        height: 5813px;
    }

    #items .more-sites{
        padding-top: 0px;
    }

    #search .right-content .form-control{
         margin-bottom: 20px;
    }
}


#suscribete {
    height: 325px;
}

#suscribete img {
    height: 325px;
    width: 100%;
    position: absolute;
}

#suscribete picture{
    width: 100%;
}
 #suscribete .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}
.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suscribete input[type="email"]{
    padding: 7px 0;
}
 

#footer {
    height: 359px;
    width: 100%;
}

#footer .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#footer .first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer a{
    color: white;
}

#footer .rs {
    margin-top: 15px;
}

#footer .rs > a {
    padding: 10px 20px; 
}

@media (max-width: 992px){
    #footer{
        height: 610px;
    }
} 

@media (max-width: 767px){
    #footer{
        height: 610px;
    }

    #contactanos {
        height: 1798px;
    }

    #footer .rs > a {
        padding: 10px 10px;
    }
}

@media (max-width: 576px){
    #footer{
        height: 610px;
    }
   
}

/*------------------------------------*    
                Body
\*------------------------------------*/

@media (max-width: 991px){
	body {
		margin-top: 0;
	}

	#header::before{
		box-shadow: 0;
	}
	#banner {
		z-index: 0;
	}

	#menu .menu {
		z-index: 1;
	}
}