/*------------------------------------*    
                BANNER
\*------------------------------------*/
#banner {
    --height-img: 900px; 

    position: relative;
    display: inline-block;
}

#banner img {
    width: 100%;
    height: var(--height-img);
}

#banner picture{
    width: 100%;
}

/*------------------------------------*    
                VIEW MORE
\*------------------------------------*/

#main-container{
    height: 963px;
}

#main-container h1{
    margin: 191px 0 78px 0;
}

#main-container .btn{
    margin-top: 78px;
}