/*------------------------------------*    
                BANNER
\*------------------------------------*/
 #banner {
    --height-img: 900px; 

    height: var(--height-img);
    width: 100%;
}

#banner img {
    height: var(--height-img);
    width: 100%;
    position: absolute;
}

#banner picture{
    width: 100%;
}

#banner .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%;
}

#banner form input:first-child{
    padding: 1%;
    margin: 0 3px 5px 0;
} 

/*------------------------------------*    
                ABOUT US
\*------------------------------------*/

#contactanos {
	height: 899px;
}
