/*------------------------------------*    
                BANNER
\*------------------------------------*/
 #banner {
    --height-img: 900px; 

    height: var(--height-img);
    width: 100%;
}

#banner img {
    height: var(--height-img);
    width: 100%;
    position: absolute;
}

#banner picture{
    width: 100%;
}

#banner .content {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%;
}

#banner form input:first-child{
    padding: 1%;
    margin: 0 3px 5px 0;
} 

/*------------------------------------*    
                CONTACT US
\*------------------------------------*/

#contactanos {
    height: 899px;
}

#contactanos .form-container{
	display: flex;
    flex-direction: column;
    padding-right: 0;
}

#contactanos .form-content {
    padding: 0 80px 0 120px;
    margin-top: 45px;
}

#contactanos .form-control {
    border-radius: 0;
}

#contactanos textarea {
    height: 158px;
}

#contactanos .blue-right, .blue-left {
    background: var(--color-blue);
    color: var(--color-blue);
    height: 57px;
    width: calc(100% - 48%);
}

#contactanos .blue-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

#contactanos .form-container h3{
	margin: 120px 0 40px 0;
}

#contactanos .form-container .form-group{
	margin: 10px 0 10px 0;
}

#contactanos .map {
	padding: 0;
}

@media (max-width: 992px){
    #contactanos .form-container{
        height: 899px;
    }

    #contactanos .form-content {
        padding: 0 40px 0 40px;
        margin: 0 auto;
    }

    #contactanos .form-container h3{
        margin: 178px 0 40px 0;
    }
} 

@media (max-width: 767px){
    #contactanos .form-container{
        height: 899px;
    }

    #contactanos .form-content {
        padding: 0 40px 0 40px;
        margin: 0 auto;
    }

    #contactanos .form-container h3{
        margin: 120px 0 40px 0;
    }
}

@media (max-width: 576px){
     #contactanos .form-container{
        height: 899px;
    }

    #contactanos .form-content {
        padding: 0 40px 0 40px;
        margin: 100px 0 149px 0;
    }

    #contactanos .form-container h3{
        margin: 59px 0 40px 0;
    }
}
